@import '../../styles/variables.scss';

button.button-default {
  width: 100%;
  background-color: $colors-1-base;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $colors-text-on-color;
  cursor: pointer;
  transition: filter $transition-time;

  &:hover {
    filter: brightness(0.75);
  }
}