$colors-1-light: #88F2FF;
$colors-1-base: #3BC7DA;
$colors-1-dark: #05273A;
$colors-1-darker: #061b27;

$colors-semantic-success-base: #23AD42;
$colors-semantic-error-base: #EB2525;
$colors-semantic-warning-base: #F4D21B;

  
$colors-text-primary: #FFFFFF;
$colors-text-on-color: #000000;

$transition-time: .3s;
$box-shadow: #26262680 1.95px 1.95px 2.6px;

$transition-time: 0.3s;