@import url('./assets/fonts/Poppins/font-face.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--colors-1-dark);
  color: #FFFFFF;
}

:root {
  --colors-1-base: #3BC7DA;
  --colors-1-dark: #05273A;
}